<% @books.each do |book| %>
<div>
  <h2>Books</h2>
  <table class="table">
      <tbody>
        <tr>
          <th></th>
          <th><%= image_tag user.get_profile_image(100, 100) %></th>
        </tr>
        <tr>
          <th>Title</th>
          <th><%= @book.title %></th>
        </tr>
        <tr>
          <th>Opinion</th>
          <th><%= @book.body %></th>
        </tr>
      </tbody>
  </table>
</div>
<% end %>